html {
  scroll-padding-top: 10rem;
  scroll-behavior: smooth;
  scroll-padding-bottom: 10rem;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #e6e1c2;
  padding-top: 3.5rem;
}

@media (min-width: 800px) {
  body {
    scroll-padding-top: 12rem;
    padding-top: 7rem;
  }
}

/* Logo and Navigation */

.navbar {
  display: none;
}

/* fixed nav bar for mobile */

.mb-nav {
  background-color: #134966;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1001;
}

.mb-nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mb-nav li {
  height: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.mb-nav li a {
  height: 100%;
  padding: 0 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.mb-name {
  min-width: 6.5rem;
  max-width: 100%;
}
.hamb-logo {
  min-width: 6.5rem;
  max-width: 100%;
}

.mb-nav a:hover {
  background-color: #004d77;
}

.mb-nav li:first-child {
  margin-right: auto;
}

/* toggled hamburger sidebar */

.sidebar-logo-img {
  max-width: 13rem;
  min-width: 13rem;
  height: auto;
  width: 13rem;
  display: block;
  margin-right: auto;
}
.mb-logo-img {
  max-width: 13rem;
  min-width: 13rem;
  height: auto;
  width: 13rem;
  display: block;
  margin-right: auto;
}

.mobile-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #002f49ae;
  backdrop-filter: blur(15px);
  padding: 1rem;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  z-index: 1002;
}

.mobile-sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  margin-bottom: 5rem;
}

.mobile-sidebar li {
  margin: 2rem 0.25rem;
  text-transform: uppercase;
  width: 100%;
  font-weight: 600;
}

.mobile-sidebar li a:hover {
  background-color: #4c738794;
}

.mobile-sidebar a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  text-align: center;
  list-style: none;
  margin: 5rem 0;
}

.navbar ul {
  list-style: none;
  text-decoration: none;
}

.exit-icon {
  display: block;
  margin-left: 5rem;
  padding-left: 3rem;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

/* desktop view - 800pc min */

@media (min-width: 800px) {
  .header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    box-sizing: border-box;
  }

  .mb-nav {
    display: none;
  }

  .mobile-sidebar {
    display: none;
  }

  .sidebar-logo-img {
    display: none;
  }

  .navbar {
    display: flex;
    background-color: #134966;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .navbar ul {
    display: flex;
    padding-right: 2rem;
  }
  .navbar li a {
    padding: 10px 15px;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .logo-img {
    max-width: 13rem;
    height: auto;
    width: 100%;
    display: block;
  }
}

/* Logo and Nav Ends */

main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro-sect {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 20%;
  margin-bottom: 1rem;
  padding-top: 4rem;
  margin: 0 auto;
}

.intro {
  width: auto;
  max-width: fit-content;
  min-width: 8rem;
  height: auto;
  max-height: auto;
  background-color: white;
  padding: 2rem;
  margin: 1.75rem 0.5rem;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 25px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.img-col img {
  width: 10rem;
  height: 10rem;
  max-width: 20rem;
  border-radius: 50%;
  max-height: auto;
}

.text-col {
  padding: 1rem;
  font-size: 1.6rem;
  max-height: auto;
}

.text-col h1 {
  font-size: 2rem;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  .intro {
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  .main-heading {
    padding-top: 7rem;
  }
}

h2 {
  font-size: 1.6rem;
  color: black;
  font-family: inherit;
  margin-bottom: 1rem;
}

.proj-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  background-color: #fcbf49;
  color: black;
  padding: 2rem;
  margin: 1.75rem 0.5rem;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 25px;
}

.proj-sect a {
  text-decoration: none;
  color: inherit;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 1rem auto;
  height: auto;
  max-width: 20rem;
  background-color: white;
  border-radius: 25px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.box-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

@media (min-width: 800px) {
  .proj-sect {
    display: grid;
    /* got help from a friend as my flex was not lining up to my liking */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .box-wrapper {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .box-wrapper a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: inherit;
  }

  .box-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
  }

  .box-wrapper h3 {
    margin-top: 0;
  }

  .box-wrapper p {
    margin: 5px 0;
  }
}

.proj-sect h2 {
  padding: 3rem;
  font-size: 2rem;
  color: white;
  text-shadow: grey 2px 2px 4px;
}

/* About Section */

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: auto;
  background-color: #ffffff;
  color: black;
  font-size: 1.6rem;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 25px;
  padding-bottom: 6rem;
}

.about-me p {
  font-size: 1.2rem;
  margin: 1rem;
  min-width: 5rem;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fcbf49;
  bottom: 0;
  right: 0;
  width: 100%;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

footer a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem;
}
