body {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  padding: 0 1rem;
  background-color: #003049;
}

/* Logo and Navigation */

.header-main {
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

a {
  text-decoration: none;
  color: white;
}

/* desktop view - 800pc min */

@media (min-width: 800px) {
  .header-main {
    width: 100%;
    box-sizing: border-box;
  }

  .navbar {
    display: flex;
    background-color: #003049;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  }

  .navbar ul {
    display: flex;
    padding-right: 2rem;
  }
  .navbar li a {
    padding: 10px 15px;
    color: antiquewhite;
    font-size: 1.2rem;
  }
}

.navbar ul {
  list-style: none;
  text-decoration: none;
}

.logo-img {
  max-width: 10rem;
  height: auto;
  width: 100%;
  display: block;
}

.main-heading {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .main-heading {
    padding-top: 7rem;
  }
}

/* Logo and Nav Ends */

h2 {
  font-size: 1.6rem;
  color: white;
  font-family: inherit;
  margin-bottom: 1rem;
}
